
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Smartestmirror Configuration</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	<meta name="author" content="FREEHTML5.CO" />


  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<!-- <link rel="shortcut icon" href="favicon.ico"> -->

	<!-- <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic,700italic|Merriweather:300,400italic,300italic,400,700italic' rel='stylesheet' type='text/css'> -->
	
	<!-- Animate.css -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.css') }} ">
	<!-- Icomoon Icon Fonts-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/icomoon.css') }}">
	<!-- Simple Line Icons -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/simple-line-icons.css') }}">
	<!-- Magnific Popup -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.css') }}">
	<!-- Bootstrap  -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
	<!-- Theme style -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">


	<!-- Modernizr JS -->
        <script src="{{ url_for('static', filename='js/modernizr-2.6.2.min.js') }}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	<!-- jQuery -->
        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>


        <!-- interact for drag and drop -->
        <script src="{{ url_for('static', filename='js/interact.js') }}"></script>

	<style>
            .draggable{
              width: 200px;
              height: 200px;
              min-height: 6.5em;

              background-color: #29e;
              color: white;

              border-radius: 0.75em;

              -webkit-transform: translate(0px, 0px);
                      transform: translate(0px, 0px);
            }

            #drag-me::before {
              content: "#" attr(id);
              font-weight: bold;
            }
	</style>


	</head>
	<body>
	
	<!-- Loader -->
	<div class="fh5co-loader"></div>
	<div class="fh5co-page">

	<div id="fh5co-container">
		
		<div class="js-sticky">
			<div class="fh5co-main-nav">
				<div class="container">
					<div class="fh5co-menu-1">
						<a href="#" data-nav-section="config">Config</a>
                                                <a href="#" data-nav-section="canvas">Drag and drop</a>
       					</div>
				</div>
			</div>
		</div>

		<div id="fh5co-about" data-section="config">
                        <!-- <div class="fh5co-2col-inner left"> -->
                        <div class="container">
						<div class="fh5co-tabs-container">
							<ul class="fh5co-tabs fh5co-three">
                                                        {% for ce in configentries %}
                                                            {% if loop.index0 == 0 %}
                                                                <li class="active">
                                                            {% else %}
                                                                <li>
                                                            {% endif %}
                                                            <a href="#" data-tab="{{ ce.name }}">{{ce.name}}</a></li>
                                                        {% endfor %}
							</ul>

                                                        {% for ce in configentries %}
                                                            {% if loop.index0 == 0 %}
                                                        <div class="fh5co-tab-content active" data-tab-content="{{ ce.name }}">
                                                            {% else %}
                                                        <div class="fh5co-tab-content" data-tab-content="{{ ce.name }}">
                                                            {% endif %}
                                                            <h2>{{ ce.desc }}</h2>
                                                            <!-- <form name="{{ ce.name }}" action="{{ url_for('handle_data') }}" method="post"> -->
                                                            <form id="form_{{ ce.name }}" action="#">

                                                            {% for cv in ce.configs %}
                                                                <div class="row">
                                                                <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            <input type="text" name="{{ cv[0] }}" class="form-control" placeholder="{{ cv[1] }}" value="{{ cv[1] }}">
                                                                            <label for="{{ cv[0] }}">{{ cv[0] }}</label>
                                                                        </div>		
                                                                </div>

                                                                </div>
                                                            {% endfor %}
								<!-- add a hidden field containing the widgets name -->
								<input type="text" name="widget_name" value="{{ ce.name }}" hidden>
                                                                <div class="col-md-12">
                                                                        <div class="form-group">
                                                                                <input type="submit" name="submit_{{ ce.name }}" id="submit_{{ ce.name }}" value="Save" class="btn btn-primary btn-outline">
                                                                        </div>
                                                                </div>

                                                                </div>
                                                            </form>
                                                            <script type="text/javascript">
$(function() {
$('#submit_{{ ce.name }}').click(function(e){
  e.preventDefault();
  //do some verification
  console.log('SUBMIT CALLED');
  $.ajax({
    url: '{{ url_for('handle_data') }}',
    type: 'POST',
    method: 'POST',
    data: $('#form_{{ ce.name }}').serialize(),
    success: function(data){
    }
  });
});
});
                                                            </script>

                                                          {% endfor %}


                                                        </div>

                                                </div>
		</div> 

                <script type="text/javascript">
// target elements with the "draggable" class
interact('.draggable')
  .draggable({
    // enable inertial throwing
    inertia: false,
    // keep the element within the area of it's parent
    restrict: {
      restriction: "parent",
      endOnly: true,
      elementRect: { top: 0, left: 0, bottom: 1, right: 1 }
    },
    // enable autoScroll
    autoScroll: true,

    // call this function on every dragmove event
    onmove: dragMoveListener,
    // call this function on every dragend event
    onend: function (event) {

      var textEl = event.target.querySelector('p');

      var newx = Math.floor($(event.currentTarget).position().left - $("#mirror").position().left);
      var newy = Math.floor($(event.currentTarget).position().top - $("#mirror").position().top);
      var widget_name = textEl.textContent;

      // tell the server to change config
      $.ajax({
        url: '{{ url_for('handle_data') }}',
        type: 'POST',
        method: 'POST',
        //data: $('#form_test').serialize(),
        data: {
            widget_name:widget_name,
            x:newx, 
            y:newy
        },
        success: function(data){}
        });
    }
  });

  function dragMoveListener (event) {
    var target = event.target,
        // keep the dragged position in the data-x/data-y attributes
        x = (parseFloat(target.getAttribute('data-x')) || 0) + event.dx,
        y = (parseFloat(target.getAttribute('data-y')) || 0) + event.dy;

    // translate the element
    target.style.webkitTransform =
    target.style.transform =
      'translate(' + x + 'px, ' + y + 'px)';

    // update the posiion attributes
    target.setAttribute('data-x', x);
    target.setAttribute('data-y', y);
  }

  // this is used later in the resizing and gesture demos
  window.dragMoveListener = dragMoveListener;
                </script>

		<div id="fh5co-about" data-section="canvas">
                        <!-- <div class="fh5co-2col-inner left"> -->
                        <div class="container">
                                <h1>Drag and drop widgets in the place you want</h1>
                            <div id="mirror" style="background-color:#999;width:1080px;height:1920px;padding:0;margin:0">
                                {% for ce in configentries %}
                                    <div id="{{ ce.name }}" class="draggable">
                                        <p>{{ ce.name }}</p>
                                    </div>
                                    <script type="text/javascript">
                                        //$("#{{ ce.name }}").parent().css({position: 'relative'});
                                        {% for cv in ce.configs %}
                                            {% if cv[0] == "x" %}
                                                var myx = {{ cv[1] }};
                                            {% elif cv[0] == "y" %}
                                                var myy = {{ cv[1] }};
                                            {% endif %}
                                        {% endfor %}

                                        console.log("xy: " + myx + "," + myy);
                                        $("#{{ ce.name }}").css({top: myy+$("#mirror").position().top, left: myx+$("#mirror").position().left, position:'absolute'});
                                    </script>
                                {% endfor %}
                            </div>
                        </div>
                </div>


	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>
	
	
	<!-- jQuery Easing -->
        <script src="{{ url_for('static', filename='js/jquery.easing.1.3.js') }}"></script>
	<!-- Bootstrap -->
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<!-- Waypoints -->
        <script src="{{ url_for('static', filename='js/jquery.waypoints.min.js') }}"></script>
	<!-- Stellar Parallax -->
        <script src="{{ url_for('static', filename='js/jquery.stellar.min.js') }}"></script>
	<!-- Magnific Popup -->
        <script src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/magnific-popup-options.js') }}"></script>
	<!-- Main JS -->
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>

	</body>
</html>

